In [7]:
import sqlite3

In [8]:
connect = sqlite3.connect('NBAnews.db')

In [9]:
c =connect.cursor()

In [10]:
def create_tab():
    c.execute('CREATE TABLE IF NOT EXISTS NBAnews(unix REAL, title TEXT , content TEXT , posttime TEXT , keyword TEXT )')

In [11]:
def insert_tab():
    c.execute('INSERT INTO NBAnews VALUES(1442323,"test","testing","2019-10-26","python")')
    connect.commit()
    c.close()
    connect.close()

In [12]:
create_tab()
insert_tab()